// controllers.jade

script
  :coffeescript(bare="true")

    postIndexController = ($scope, $routeParams, $http)->
      console.log $routeParams
      queryString = "?"
      if $routeParams.startFrom != undefined
        if $routeParams.startFrom < 1
          $routeParams.startFrom  = 1
        queryString += "start=" + $routeParams.startFrom
      $http.get("#{endpointurl}/nykzPost/" + $routeParams.boardName + queryString).success (data)->
        $scope.postIndices = data
        $scope.state =
          board: $routeParams.boardName
          start: data[0].index
          end: data[data.length - 1].index
      $scope.gotoPost = window.gotoPost($routeParams.boardName )
      $scope.friendly_time = friendly_time

    boardIndexController = ($scope, $routeParams, $http)->
      $http.get("#{endpointurl}/nykzBoard").success (data)->
        data = _.reject data,(obj)->
          return _.contains boardBlacklist, obj.name
        $scope.boardIndicies = _.groupBy data, (obj)->
          obj.catagory_name
        console.log $scope.boardIndicies

    postViewController = ($scope, $routeParams, $http)->
      console.log $routeParams
      $http.get("#{endpointurl}/nykzPost/#{$routeParams.board}/M.#{$routeParams.file}.A/#{$routeParams.file}").success (data)->
        $scope.article = data
        window.currentPost = data
        console.log data

    userViewController = ($scope, $routeParams, $http)->
      console.log $routeParams
      $http.get("#{endpointurl}/nykzUser/#{$routeParams.userid}").success (data)->
        $scope.user = data
        console.log data

    bodyController = ($scope, $http)->
      $scope.loginState = "请登陆"
      if window.localStorage
        if window.localStorage.username
          $("#loginusername").val window.localStorage.username
        if window.localStorage.pw
          $("#loginpw").val window.localStorage.pw
      if isFirstOpen()
        $("#loginModal").modal "show"
      if window.localStorage && window.localStorage.isLogin
        $http.get("#{endpointurl}/nykzUser").success (data)->
          if typeof data != "object"
            $("#loginModal").modal "show"
          else
            window.currentUser = data
            $scope.loginState = "您好，#{data.userid}"

// ENDOF controllers.jade
